.footer {
  background-color: var(--secondary);
}

.footer .container {
  padding-top: 40px;
  padding-bottom: 10px;
}

.footer-top-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 120px;
}

.footer-logo-icon {
  fill: var(--primary);
  display: block;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-socials {
  display: flex;
  gap: 12px;
}

.footer-social-icon {
  fill: var(--primary);
  transition: var(--primary-transition);
}

.footer-social-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--primary10);
  border-radius: 10px;
  transition: var(--primary-transition);
}

.footer-social-link:hover {
  background-color: var(--primary);
}

.footer-social-link:hover .footer-social-icon {
  fill: var(--secondary);
}

.footer-slogan-form-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-slogan {
  font-size: 38px;
  line-height: 44px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--primary);
}

.footer-slogan span {
  font-style: italic;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-form label {
  color: var(--primary);
}

.footer-input {
  padding: 14px 20px;
  border-radius: 50px;
  border: 1px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
}

.footer-bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: var(--footer-sub-text);
}

.footer-subslogan-policy {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.footer-links-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer-link {
  color: inherit;
}

.footer-year {
  text-align: right;
}

@media (min-width: 768px) {
  .footer .container {
    padding-top: 64px;
    padding-bottom: 6px;
  }

  .footer-top-content {
    margin-bottom: 64px;
    display: grid;
    grid-template-columns: 0.30687fr 0.69313fr;
    gap: 78px;
  }

  .footer-slogan-form-block {
    gap: 32px;
  }

  .footer-slogan {
    font-size: 56px;
    line-height: 60px;
  }

  .footer-form {
    width: 352px;
    flex-shrink: 0;
  }

  .footer-form label {
    font-size: 18px;
  }

  .footer-input {
    padding: 12px 14px;
    font-size: 16px;
    line-height: 23px;
  }

  .footer-subslogan-policy {
    width: 100%;
    display: grid;
    grid-template-columns: 0.3385fr 0.6615fr;
    gap: 54px;
  }

  .footer-links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}

@media (min-width: 1440px) {
  .footer .container {
    padding-bottom: 16px;
  }

  .footer-top-content {
    margin-bottom: 70px;
    grid-template-columns: 0.165fr 0.835fr;
    gap: 104px;
  }

  .footer-slogan-form-block {
    gap: 115px;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-subslogan-policy {
    grid-template-columns: 0.165fr 0.835fr;
    gap: 104px;
  }

  .footer-year {
    width: 352px;
    text-align: left;
  }
}