<div class="exercises-header">
  <div class="exercises-header-wrapper">
    <h2 class="section-title">Exercises</h2>
    <div class="exercises-header__breadcrumbs visually-hidden">
      <p class="breadcrumbs-slash section-title">/</p>
      <p class="breadcrumbs-exercises"></p>
    </div>
  </div>

  <div class="exercises-filter">
    <form class="exercises-filter__search visually-hidden">
      <input
        type="text"
        class="search-input"
        placeholder="Search"
        id="exercise-search-input"
      />
      <button type="submit" class="search-button">🔍</button>
    </form>

    <div class="exercises-filter__filters">
      <button class="filter-btn">Muscles</button>
      <button class="filter-btn">Body parts</button>
      <button class="filter-btn">Equipment</button>
      <span class="filter-underline"></span>
    </div>
  </div>
</div>