<div class="exercises-header">
  <div class="exercises-header-wrapper">
    <h2 class="section-title">Exercises</h2>
    <div class="exercises-header__breadcrumbs">
      <p class="breadcrumbs-slash section-title">/</p>
      <p class="breadcrumbs-exercises">Waist</p>
    </div>
  </div>

  <div class="exercises-filter">
    <div class="exercises-filter__search" hidden>
      <input
        type="text"
        class="search-input"
        placeholder="Search"
        id="exercise-search-input"
      />
    </div>

    <div class="exercises-filter__filters">
      <button class="filter-btn">Muscles</button>
      <button class="filter-btn">Body parts</button>
      <button class="filter-btn">Equipment</button>
      <span class="filter-underline"></span>
    </div>
  </div>
</div>