<div class="exercises-header">
  <div class="exercises-header-wrapper">
    <h2 class="section-title">Exercises</h2>
    <div class="exercises-header__breadcrumbs visually-hidden">
      <p class="breadcrumbs-slash section-title">/</p>
      <p class="breadcrumbs-exercises"></p>
    </div>
  </div>

  <div class="exercises-filter">
    <form class="exercises-filter__search visually-hidden">
      <label for="search-exercises"></label>
      <input
        id="search-exercises"
        type="text"
        name="search"
        class="search-input"
        placeholder="Search"
      />
      <button type="reset" class="search-button clear-icon visually-hidden">
        Clear
        <svg class="search-icon">
          <use href="./img/icons.svg#close-icon"></use>
        </svg>
      </button>
      <button type="button" class="search-button">
        Submit
        <svg class="search-icon">
          <use href="./img/icons.svg#search-icon"></use>
        </svg>
      </button>
    </form>

    <div class="exercises-filter__filters">
      <button class="filter-btn">Muscles</button>
      <button class="filter-btn">Body parts</button>
      <button class="filter-btn">Equipment</button>
      <span class="filter-underline"></span>
    </div>
  </div>
</div>