:root {
  --quote-box-color: #242424;
  --quote-title-color: #f4f4f4;
  --daily-norm-background: #ffffff;
}

.home-quote {
  width: 444px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quote-container {
  min-width: 243px;
}

.quote-card {
  box-sizing: border-box;
  display: flex;
  gap: 18px;
  width: 335px;
  background-color: var(--quote-box-color);
  color: var(--quote-title-color);
  font-size: 14px;
  padding: 20px 20px;
  border-radius: 16px;
}

.quote-title,
.daily-norm-title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.quote-text {
  color: var(--quote-title-color);
  opacity: 60%;
  margin-bottom: 16px;
}

.quote-title-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.quote-icon {
  width: 20px;
  height: 17px;
  fill: var(--quote-title-color);
}

.icon-body-container {
  min-width: 32px;
  max-width: 32px;
  height: 32px;
  background-color: rgb(244, 244, 244, 0.2);
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.icon-body {
  margin: 0 auto;
  fill: var(--quote-title-color);
  height: 21px;
  width: 21px;
}

.two-women-image-container {
  border-radius: 16px;
  width: 335px;
  height: 242px;
  overflow: hidden;
  position: relative;
}

.two-women-image {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.59);
  transform-origin: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.daily-norm-card {
  box-sizing: border-box;
  display: flex;
  gap: 18px;
  width: 335px;
  height: 201px;
  color: var(--quote-box-color);
  font-size: 14px;
  padding: 20px 20px;
  border-radius: 16px;
  background-color: var(--daily-norm-background);
}

.icon-dumbell-container {
  min-width: 32px;
  max-width: 32px;
  height: 32px;
  background-color: var(--quote-box-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icon-dumbell {
  width: 20px;
  height: 20px;
  fill: var(--quote-title-color);
  color: var(--quote-title-color);
}

.daily-norm-subtitle {
  color: var(--quote-box-color);
  opacity: 60%;
  margin-bottom: 16px;
}

.daily-norm-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  line-height: 1.28;
}

@media (min-width: 768px) {
  .home-quote {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 16px;
  }

  .quote-card {
    padding: 40px;
    width: 400px;
  }

  .daily-norm-card {
    padding: 40px 40px;
    height: 249px;
  }

  .two-women-image-container {
    width: 288px;
    height: 249px;
  }

  .two-women-image {
    top: -5px;
    left: -10px;
    transform: scale(1.6);
  }

  .two-women-image {
    width: 288px;
    height: 249px;
    object-fit: cover;
  }

  .daily-norm-card {
    width: 400px;
  }
}

@media (min-width: 1440px) {
  .home-quote {
    width: 444px;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .quote-title,
  .daily-norm-title {
    font-size: 24px;
  }
  .quote-card,
  .two-women-image,
  .daily-norm-card {
    width: 100%;
  }

  .two-women-image-container {
    width: 100%;
    height: 242px;
  }

  .two-women-image {
    top: 0;
    left: 0;
    transform: scale(1.55);
    transform-origin: top;
  }

  .quote-icon {
    height: 20px;
    width: 20px;
  }

  .daily-norm-card {
    height: 315px;
  }

  .daily-norm-text {
    height: 100%;
  }
}
