<section class="favorite-quote quote">
  <div class="quote-card">
    <div class="exercise-icon-container">
      <svg width="32" height="32">
        <use href="./img/icons.svg#running-man-icon-grey-back"></use>
      </svg>
    </div>
    <div class="card-info-section">
      <div class="card-header-container">
        <h3 class="card-header">Quote of the day</h3>
        <svg class="header-quote-icon">
          <use  href="./img/icons.svg#inverted-white-commas-icon"></use>
        </svg>
      </div>
      <p class="card-description">A lot of times I find that people who are blessed with the most talent don't ever develop that attitude, and the ones who aren't blessed in that way are the most competitive and have the biggest heart.</p>
      <p class="card-author">Tom Brady</p>
    </div>
  </div>
</section>
