<section class="favorite-quote quote">
  <div class="favorite-quote-card">
    <div class="icon-body-container">
      <svg class="icon-body">
        <use href="../../img/icons.svg#running-man-icon" />
      </svg>
    </div>

    <div class="favorite-quote-container">
      <div class="favorite-quote-title-container">
        <h3 class="favorite-quote-title">Quote of the day</h3>
        <svg class="favorite-quote-icon">
          <use href="../../img/icons.svg#inverted-commas-icon" />
        </svg>
      </div>
    </div>
  </div>
  <div class="favorite-daily-norm-card">
    <div class="favorite-icon-dumbell-container">
      <svg class="favorite-icon-dumbell">
        <use href="../../img/icons.svg#dumbell-icon" />
      </svg>
    </div>
    <div class="favorite-daily-title-subtitle-container">
      <p class="favorite-daily-norm-title">110 min</p>
      <p class="favorite-daily-norm-subtitle">Daily norm of spots</p>
    </div>
  
  </div>
  <div class="favorite-two-women-image-container">
    <img class="favorite-two-women-image" srcset="
            ../../img/twoWomenSport.jpg    1x,
            ../../img/twoWomenSport@2x.jpg 2x" src="../../img/twoWomenSport.jpg" alt="favorite-two-women" />
  </div>



 
</section>

