<section class="favorite-quote quote">
  <div class="quote-favorite-card">
    <div class="exercise-icon-container">
      <svg width="32" height="32">
        <use href="./img/icons.svg#running-man-icon-grey-back"></use>
      </svg>
    </div>
    <div class="quote-container">
      <div class="card-header-container">
        <h3 class="card-header">Quote of the day</h3>
        <svg class="header-quote-icon">
          <use href="./img/icons.svg#inverted-white-commas-icon"></use>
        </svg>
      </div>
    </div>
  </div>

  <div class="fact-cards">
    <div class="fact-card">
      <svg class="fact-card-icon">
        <use href="./img/icons.svg#dumbell-icon"></use>
      </svg>
      <p class="fact-time-value">
        100 min
      </p>
      <p class="fact-description">
        Daily norm of sports
      </p>
    </div>
    <div class="fact-support-image">
      <img class="support-image"
          srcset="./img/twoWomenSport.jpg 1x, ./img/twoWomenSport@2x.jpg 2x"
          src="./img/twoWomenSport.jpg"
          alt="Two women smiling" />
    </div>

  </div>
</section>

