<header class="header">
  <div class="container header-container">
    <a class="nav-logo" href="./index.html" aria-label="Site logo">
      <svg class="nav-logo-icon" width="132" height="24">
        <use href="./img/icons.svg#logo-icon"></use>
      </svg>
    </a>

    <nav class="nav">
      <ul class="nav-list">
        <span class="nav-underline"></span>
        <li class="nav-item">
          <a class="nav-link {=$highlight-act}" href="./index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-curr}" href="./favorites-page.html">Favorites</a>
        </li>
      </ul>
    </nav>

    <ul class="nav-social">
      <li class="social-item">
        <a class="social-link" href="https://www.facebook.com/goITclub/" target="_blank" aria-label="Facebook link">
          <svg class="social-logo-icon" width="28" height="28">
            <use href="./img/icons.svg#facebook-icon"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a class="social-link" href="https://www.instagram.com/goitclub/" target="_blank" aria-label="Instagram link">
          <svg class="social-logo-icon" width="28" height="28">
            <use href="./img/icons.svg#instagram-icon"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a class="social-link" href="https://www.youtube.com/c/GoIT" target="_blank" aria-label="Youtube link">
          <svg class="social-logo-icon" width="28" height="28">
            <use href="./img/icons.svg#youtube-icon"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button class="burger-btn" type="button">
      <svg class="burger-icon" width="32" height="32" stroke="black">
        <use href="./img/icons.svg#menu-icon"></use>
      </svg>
      <span class="visually-hidden">Open menu</span>
    </button>
  </div>
</header>
