:root {
  --favorite-quote-box-color: #242424;
  --favorite-quote-title-color: #f4f4f4;
  --favorite-daily-norm-background: #ffffff;
}

.favorite-quote {
  max-width: 335px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.favorite-quote-container {
  min-width: 574px;
}

.favorite-quote-card {
  box-sizing: border-box;
  display: flex;
  gap: 18px;
  width: 100%;
  background-color: var(--favorite-quote-box-color);
  color: var(--favorite-quote-title-color);
  font-size: 14px;
  padding: 20px 20px;
  border-radius: 16px;
}

.favorite-quote-title,
.favorite-daily-norm-title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.favorite-quote-text {
  color: var(--favorite-quote-title-color);
  opacity: 60%;
  margin-bottom: 16px;
}

.favorite-quote-title-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.favorite-quote-icon {
  width: 20px;
  height: 20px;
  fill: var(--favorite-quote-title-color);
}

.icon-body-container {
  min-width: 32px;
  max-width: 32px;
  height: 32px;
  background-color: rgb(244, 244, 244, 0.2);
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.icon-body {
  margin: 0 auto;
  fill: var(--favorite-quote-title-color);
  height: 21px;
  width: 21px;
}

.favorite-two-women-image-container {
  border-radius: 16px;
  width: 100%;
  height: 119px;
  overflow: hidden;
  position: relative;
}

.favorite-two-women-image {
  position: absolute;
  top: -10px;
  left: 0;
}

.favorite-daily-norm-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 119px;
  color: var(--favorite-quote-box-color);
  font-size: 14px;
  padding: 22px 20px;
  border-radius: 16px;
  background-color: var(--favorite-daily-norm-background);
}

.favorite-daily-norm-title {
  margin-bottom: 6px;
}

.favorite-icon-dumbell {
  width: 20px;
  height: 20px;
  fill: var(--favorite-quote-box-color);
}

.favorite-daily-norm-subtitle {
  color: var(--favorite-quote-box-color);
  opacity: 60%;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .favorite-quote {
    min-width: 704px;
    max-width: 704px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  .favorite-quote-card {
    padding: 40px;
    width: 100%;
  }

  .favorite-daily-norm-card {
    width: 344px;
    height: 141px;
    padding: 25px;
  }

  .favorite-two-women-image-container {
    width: 344px;
    height: 141px;
  }

  .favorite-two-women-image {
    top: 0;
    left: 0;
    transform: scale(1);
  }
}

@media (min-width: 1440px) {
  .favorite-quote {
    max-width: 494px;
    min-width: 494px;
    height: 387px;
    gap: 16px;
  }

  .favorite-quote-container{
    min-width: 364px;
  }

  .favorite-quote-title,
  .favorite-daily-norm-title {
    font-size: 24px;
  }
  .favorite-quote-card{
    width: 100%;
    height: 230px;
  }

  .favorite-two-women-image-container {
    width: 239px;
    height: 141px;
  }

  .favorite-two-women-image {
    top: 0;
    left: 0;
    transform: scale(1.5);
    transform-origin: top;
  }

  .favorite-quote-icon {
    height: 20px;
    width: 20px;
  }

  .favorite-daily-norm-card {
    width: 239px;
    height: 141px;
  }

  .favorite-daily-norm-text {
    height: 100%;
  }
}
