<section class="hero">
  <div class="container">
    <div class="hero-top-section">
      <div class="hero-title-block">
        <h1 class="hero-title">
          <svg class="sun-icon">
            <use href="/img/icons.svg#sun-icon" />
          </svg>
          Get <span>Body</span> in shape, Stay healthy
        </h1>
        <p class="hero-subtitle">Transform your physique and embrace a healthier lifestyle with our comprehensive fitness and nutrition support.</p>
      </div>
      <div class="hero-top-tags">
        <div class="tags-image">
          <img
            srcset="
              ./img/tags.jpg    1x,
              ./img/tags@2x.jpg 2x
            "
            src="./img/tags.jpg" alt="young women doing fitness outdoors together">
        </div>
        <ul class="top-tags-container">
          <li>
            <a href="#" class="hashtag">&#x23;Sport</a>
          <li>
          <a href="#" class="hashtag">&#x23;Healthy</a>
          </li>
          <li>
            <a href="#" class="hashtag">&#x23;Workout</a>
          </li>
          <li>
            <a href="#" class="hashtag">&#x23;Diet</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero-image"></div>
    <ul class="bottom-tags-container">
      <li>
        <a href="#" class="hashtag">&#x23;Sport</a>
      <li>
        <a href="#" class="hashtag">&#x23;Healthy</a>
      </li>
      <li>
        <a href="#" class="hashtag">&#x23;Workout</a>
      </li>
      <li>
        <a href="#" class="hashtag">&#x23;Diet</a>
      </li>
    </ul>
  </div>
</section>